<div class="cards" *appPermission="'READ'">
  <div class="container">
    <div class="card">
      <label for="select">
        <select name="select" id="select" [(ngModel)]="roleType" (change)="changeRoleType($event)">
          <option value="sudo">超级管理员</option>
          <option value="admin">管理员</option>
          <option value="user">普通用户</option>
          <option value="unknown">未知的</option>
        </select>
      </label>
      <h5 class="card-title">
        {{ roleType }}
      </h5>
      <p class="card-description">
        <i class="permission" *appPermission="'READ'">可读</i>
        <i class="permission" *appPermission="'CREATE'">可增</i>
        <i class="permission" *appPermission="'DELETE'">可删</i>
        <i class="permission" *appPermission="'UPDATE'">可改</i>
      </p>
      <div class="footer">
        <div class="btn" *appPermission="'UPDATE'">
          <i class="iconfont icon-edit"></i>
        </div>
        <div class="btn" *appPermission="'DELETE'">
          <i class="iconfont icon-delete"></i>
        </div>
        <div class="btn" *appPermission="'CREATE'">
          <i class="iconfont icon-add"></i>
        </div>
      </div>
    </div>
  </div>
</div>